.container {
    width: 100%;
}

.title{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 600;
}

.descr{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.page_body{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
}
